<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>

    <script>
        function cb(selection) {
            $.getJSON({
                url: "/callback", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('chart', result, {});;
                }
            });
        }
    </script>
    
    <script>
        function cb1(selection) {
            $.getJSON({
                url: "/callback1", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('chart1', result, {});;
                }
            });
        }
    </script>

    <script>
            function cb10(selection) {
                $.getJSON({
                    url: "/callback10", data: { 'data': selection }, success: function (result) {
                        Plotly.newPlot('chart10', result, {});;
                    }
                });
            }
        </script>
   

</head>
<body style="font-family:arial, sans-serif;margin-left: 40px;
            margin-right: 40px">
    <h1 align="center">1952-2007不同国家GDP收入,人口与人均寿命</h1>
    <h3>数据集简介:不同国家历年GDP收入与人均寿命。包含字段：国家、洲、年份、平均寿命、人口数量、GDP、国家简称、国家编号；</h3>
    <h2>1、柱状图</h2>
    <h3>普通的柱状图只有一共颜色。这样的图看上去比较素，我们可以使用参数来自定义条形图的样式,通过设置颜色的区别可以了解到人口的多少</h3>
    <h2>输入国家如：India或China（大写字母开头）</h2>
    <input type="text" id="fname" name="fname" onchange="cb(this.value)">
    <div id="chart" class="chart"></div>
    <h3>柱状图可以看到每个国家从1952年到2007年的人口的数据变化,那中国来举例可以看到人口都是成上升趋势的,多尝试几次发现,大多数国家的人口都是成上升趋势的，区别就是上升速度的大区别。
     </h3>

    <!-- <h1>1952-2007不同年份的人均GDP和寿命的可视化</h1> -->
    <h2>2、散点图</h>
    <h3>散点图核心的价值在于发现变量之间的关系，千万不要简单地将这个关系理解为线性回归关系。变量间的关系有很多，如线性关系、指数关系、对数关系等等，当然，没有关系也是一种重要的关系。散点图更偏向于研究型图表，能让我们发现变量之间隐藏的关系为我们决策作出重要的引导作用。</h3>
    <h2>输入地区如：Asia或Europe（大写字母开头）</h2>
    <input type="text" id="fname" name="fname" onchange="cb1(this.value)">
    <div id="chart1" class="chart1"></div>
<h3>当默认的输入是Africa时可以看到,从1957年到2007年在非洲每个国家的平均寿命,可以了解到Reunion这个国家的平均寿命在非洲大陆都是比较高的,而Gambin这个国家的平均寿命就比较低了.在1992年左右Rwanda这个国家的平均寿命只有23.599.低的有点可怕了.</h3>

    <h2>3、折线图</h2>
    <h3>折线图可以显示随时间（根据常用比例设置）而变化的连续数据，因此非常适用于显示在相等时间间隔下数据的趋势。</h3>
    <h2>输入国家如：India或China（大写字母开头）</h2>
    <input type="text" id="fname" name="fname" onchange="cb10(this.value)">
    <div id="chart10" class="chart10"></div>
    <h3>折现图可以更加清晰的看到每个国家的人口的变化,拿中国来举例,在1957到2007这段时间内中国的人口稳步式增长,都没有下降的时候,印度也是急速增长,没有下降的趋势.而Rwanda这个国家的人口在1957到2007这段时间内也是增长的,但在1992年到1997年这段时间人口没有多大的变化.</h3>
    
    <h2>4、基于line_geo线型地图：</h2>
    <div id="chart6" class="chart6"></div>
    <h3>展示每个州上每个国家的点连成的线,在鼠标触碰到那一条线就会显示州名和国家名.可以看到Oceania这个州的国家好少，只有两个，分别是Australia和New Zealand,而Asia，Europe，Africa，America这几个州的国家还是比较多的。但亚洲的国家连起来的线面积不是很大。</h3>

    <h2>5、3D散点图：</h2>
    <div id="chart7" class="chart7"></div>
    <h3>3D散点图从平均寿命，人口，GDP三个维度同时去展现一个数据集。通过图可以看到亚洲的GDP和人口增长的速度比其他的州的都要快。</h3>

    <h2>6、冒泡散点图：</h2>
    <h3>其实气泡图是从散点图衍生出来的，散点图只有两个维度的数据，x轴和y轴，气泡图比散点图多了一个维度，即标记点的大小可以代表一个维度，衡量大小。</h3>
    <!-- <input type="text" id="fname" name="fname" onchange="cb8(this.value)"> -->
    <div id="chart8" class="chart8"></div>
    <h3>冒泡散点图从GDP和人口，平均寿命三个维度去展示数据集。也可以根据时间去查看每一年的变化。可以各个州的平均寿命和GDP都是程上升的趋势，亚洲的这两个圆特别的醒目，拖动年份的进度条可以看到亚洲的人口永远都是最多的，在1952年欧洲的人均寿命差不多是最高的，亚洲和欧洲相对来说平均寿命是比较短的。但随着时间的推移，各个州的平均寿命都擦不多了，到了2007年，除了非洲的平均寿命还是比较低以外，其他州的寿命相差不大了。</h3>

    <h2>7、面积图：</h2>
    <div id="chart9" class="chart9"></div>
   <h3> 通过面积图可以清除的看到从1952年到2007年每一个州的人口都是上涨的，但亚洲和非洲的人口上涨的最快，欧洲和大洋洲的人口虽然也在增长，但增长的速度不快。可以清楚的感受到亚洲的人口数，感觉比其他几个州加起来都多。</h3>

    <!-- <h1>鸢尾花（iris）数据集可视化</h1> -->
</body>


<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('chart', d, {});
</script>

<script>
    d1 = {{ graphJSON1 | safe }};
    Plotly.newPlot('chart1', d1, {});
</script>

<script>
    d6 = {{ graphJSON6 | safe }};
    Plotly.newPlot('chart6', d6, {});
</script>

<script>
    d7 = {{ graphJSON7 | safe }};
    Plotly.newPlot('chart7', d7, {});
</script>

<script>
    d8 = {{ graphJSON8 | safe }};
    Plotly.newPlot('chart8', d8, {});
</script>
<script>
    d9 = {{ graphJSON9 | safe }};
    Plotly.newPlot('chart9', d9, {});
</script>

<script>
    d10 = {{ graphJSON10 | safe }};
    Plotly.newPlot('chart10', d10, {});
</script>
</html>
