<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>

</head>

<body style="font-family:arial, sans-serif">
   <h1 align="center">鸢尾花（iris）数据集可视化</h1>
    鸢尾花（iris）数据集简介:鸢尾花数据集共收集了三类鸢尾花，即Setosa鸢尾花、Versicolour鸢尾花和Virginica鸢尾花，每一类鸢尾花收集了50条样本记录，共计150条。
数据集包括4个属性，分别为花萼的长、花萼的宽、花瓣的长和花瓣的宽。对花瓣我们可能比较熟悉，花萼是什么呢？花萼是花冠外面的绿色被叶，在花尚未开放时，保护着花蕾。四个属性的单位都是cm，属于数值变量，四个属性均不存在缺失值的情况，
    <h2>1、散点矩阵图</h2>
    <div id="chart2" class="chart2"></div>
    散点图从不同种类的鸢尾花的萼片长，萼片宽 花瓣长，花瓣宽四个维度来进行展示，通过图可以看到同一个种类的鸢尾花的萼片长，萼片宽 花瓣长，花瓣宽这四个数据还是比较集中的。通过萼片长，萼片宽 花瓣长，花瓣宽的分析可以对鸢尾花的品种进行判断。
    <!-- <h1>鸢尾花（iris）数据集可视化</h1> -->
    <h2>2、联合分布图</h2>
    <div id="chart3" class="chart3"></div>
    联合分布图有散点图，柱状图等。从不同种类的鸢尾花的萼片长，萼片宽两个维度来进行展示。可以看到萼片宽最小的一个品种是versicolor这个品种宽度是2。萼片长最小的一个品种是setosa这个品种长度是4.3。整体来看setosa这个品种的花萼片比较长长，但萼片宽度比较小。

    <h2>3、小提琴图</h2>
    <div id="chart4" class="char4"></div>
    小提琴图从花瓣长度和花瓣宽度两个维度来进行展示，可以看到setosa这个品种的花，花瓣的长度和宽度都比较小。而virginica这个品种的花花瓣的长度，和宽度的数值都比较高。
    
    <h2>4、等高线图</h2>
    <div id="chart5" class="char5"></div>
    等高线图也是从花瓣长度和花瓣宽度两个维度来进行展示。和小提琴图都可以反应一样的结果：setosa这个品种的花，花瓣的长度和宽度都比较小。而virginica这个品种的花花瓣的长度，和宽度的数值都比较高。

    <h2>5、密度热力图</h2>
    <div id="chart11" class="char11"></div>
    密度热力图从萼片长，萼片宽两个维度去展示数据，可以看到数据主要集中在萼片宽等于3左右，萼片长等于6.5到7左右。
</body>

<script>
    d2 = {{ graphJSON2 | safe }};
    Plotly.newPlot('chart2', d2, {});
</script>
<script>
    d3 = {{ graphJSON3 | safe }};
    Plotly.newPlot('chart3', d3, {});
</script>

<script>
    d4 = {{ graphJSON4 | safe }};
    Plotly.newPlot('chart4', d4, {});
</script>

<script>
    d5 = {{ graphJSON5 | safe }};
    Plotly.newPlot('chart5', d5, {});
</script>

<script>
    d11 = {{ graphJSON11 | safe }};
    Plotly.newPlot('chart11', d11, {});
</script>
</html>
